/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: auto;
  height: 100vh;
  background-color: #031E2C;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}
